<p class="text-xs-center">Sign up to continue</p>
<form>
    <div class="form-group">
        <label for="email">Email</label>
        <input
            type="text"
            class="form-control underlined"
            id="email"
            placeholder="Email address"
        >
    </div>
    <div class="form-group has-error">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control underlined"
            id="password"
            placeholder="Password"
        >
        <span class="form-help-text">Error message.</span>
    </div>
    <div class="form-group has-success">
        <label for="name">Name</label>
        <input
            type="text"
            class="form-control underlined"
            id="name"
            placeholder="Enter your name"
        >
        <span class="form-help-text">Success message.</span>
    </div>
    <div class="form-group">
        <label for="agree">
            <input class="checkbox" id="agree" type="checkbox">
            <span>I agree that I have read and accepted the Terms of Use.</span>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Already have an account?
            <a [routerLink]="'/login'">
                Sign in!
            </a>
        </p>
    </div>
</form>