<div class="title-block">
  <h3 class="title">
    Records page
    <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <mm-add-event [categories]="categories"></mm-add-event>
    </div>
    <div class="col-md-6">
      <mm-add-category (onCategoryAdd)="newCategoryAdded($event)"></mm-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mm-edit-category 
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></mm-edit-category>
    </div>
  </div>
  
</section>
